parameters:
    phpVersion: 80100
    level: 8
    paths:
        - src
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        -
            # what the fuck!?
            message: '%Method Zaphyr\\Framework\\Providers\\LoggingServiceProvider::getLogHandlersFromConfig\(\) should return array<string, array<Zaphyr\\Logger\\Contracts\\HandlerInterface>> but returns array<int\|string, array<int, Zaphyr\\Logger\\Handlers\\FileHandler\|Zaphyr\\Logger\\Handlers\\MailHandler\|Zaphyr\\Logger\\Handlers\\NoopHandler\|Zaphyr\\Logger\\Handlers\\RotateHandler>>.%'
            path: 'src/Providers/LoggingServiceProvider.php'
        -
            message: '%Unable to resolve the template type TXssCleanInput in call to method voku\\helper\\AntiXSS::xss_clean\(\)%'
            path: 'src/Middleware/XSSMiddleware.php'
        -
            message: '%Ternary operator condition is always true.%'
            path: 'src/Console/Commands/Config/ListCommand.php'
        -
            message: '%Parameter #2 \$array of function implode expects array<string>, array<class-string<Psr\\Http\\Server\\MiddlewareInterface>\|Psr\\Http\\Server\\MiddlewareInterface> given.%'
            path: src/Console/Commands/Router/ListCommand.php
        -
            message: '%Parameter #1 \$middleware of method Zaphyr\\Router\\Router::setMiddleware\(\) expects array<class-string<Psr\\Http\\Server\\MiddlewareInterface>\|Psr\\Http\\Server\\MiddlewareInterface>\|class-string<Psr\\Http\\Server\\MiddlewareInterface>\|Psr\\Http\\Server\\MiddlewareInterface, array<class-string> given.%'
            path: src/Providers/Bootable/RouterBootProvider.php
