parameters:
    phpVersion: 80100
    level: 8
    paths:
        - src
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        -
            message: '%Ternary operator condition is always true.%'
            path: 'src/Console/Commands/Config/ListCommand.php'
