parameters:
    phpVersion: 80100
    level: 8
    paths:
        - src
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        -
            message: '%Unable to resolve the template type TXssCleanInput in call to method voku\\helper\\AntiXSS::xss_clean\(\)%'
            path: 'src/Middleware/XSSMiddleware.php'
        -
            message: '%Ternary operator condition is always true.%'
            path: 'src/Console/Commands/Config/ListCommand.php'
        -
            message: '%Parameter #2 \$array of function implode expects array<string>, array<class-string<Psr\\Http\\Server\\MiddlewareInterface>\|Psr\\Http\\Server\\MiddlewareInterface> given.%'
            path: src/Console/Commands/Routes/ListCommand.php
