<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
>
    <coverage>
        <report>
            <html outputDirectory="./tests/report/code-coverage" lowUpperBound="50" highLowerBound="80"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="./tests/report/testdox.html"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="ROOT_DIR" value="./tests/TestAssets"/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
